<div class="login-page">
    <div class="form">
      <form *ngIf="loginVisible" class="login-form"  (ngSubmit)="login()">
        <input type="email" placeholder="Correo" name="username" [(ngModel)]="user" required>
        <input type="password" placeholder="Contraseña" name="password" [(ngModel)]="password" required>
        <button type="submit">login</button>
        <p class="message">No estas registrado <a href="#" (click)="toggleForm()">Crea una cuenta</a></p>
      </form>
      <form *ngIf="!loginVisible" class="login-form"  (ngSubmit)="register()">
        <input type="email" placeholder="Nombre" name="name" [(ngModel)]="name" required>
        <input type="email" placeholder="Correo" name="username" [(ngModel)]="user" required>
        <select name="type" id="" placeholder="Tipo" [(ngModel)]="type">
            <option value="2" selected>Estudiante</option>
            <option value="1">Moderador</option>
        </select>
        <input type="password" placeholder="Contraseña" name="password" [(ngModel)]="password" required>
        <button type="submit">Register</button>
        <p class="message">Ya estas registrado <a href="#" (click)="toggleForm()">Inicia sesion</a></p>
      </form>
    </div>
  </div>
  